<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coder Dojo Indonesia</title>
</head>
<body>
<h1>Coder Dojo Indonesia</h1>
menu:
<ul>
    <li><a href="{{url_for('module_homepage.index')}}">Homepage</a> </li>
    <li><a href="{{url_for('blog.index')}}" target="_blank">Blog</a></li>
    <li><a href="{{url_for('module_forum.index')}}" target="_blank">Forum</a></li>
    <li><a href="{{url_for('api.getcourse')}}" target="_blank">Courses</a></li>
    <li><a href="{{url_for('order.index')}}" target="_blank">Order</a></li>
</ul>
</body>
</html>